* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Sprague, Coomper Black, Frankfurter;
    background: #f0f4f9;
    color: #202124;

}
.site-header {
    background: #194379;
    padding: 1rem;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ced834;
    font-size: 1.5rem;
    margin: 0;
}

.img{
    align-items: left;
}
.navbar p{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    color: #f9f9f9;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
.nav-links a {
    color: #c8e1e6;
    text-decoration: none;
}

.nav-links a:hover {
    color: #1a829f;
}

.hero-section {
    max-width: 400px;
    margin: 0 50;
    padding: 0;
    text-align: left;
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 0;
}

.hero-section h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.feature-section {
    justify-content: space-between;
    padding: 2rem;
    display: flex;
}
.feature-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.feature-section p {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.feature-card {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 200%;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 0;
    
}
