*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #0f172a;
}

.site-header{
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #283245;

}

.logo{
    color: #38bdf8;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0 0 100px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 10px 100px 0 0;
}

.nav-links a {
    text-decoration: none;
    color: #e2e8f0;
    font-size: 18px;
    font-weight: normal;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #38bdf8;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    max-width: 1200px;
    margin: 20px 0 0 120px;
}

.hero-content .eyebrow{
    color: #38bdf8;
    font-weight: bold;
    font-size: 20px;
}

.hero-content{
    text-align: left;
    color: #e2e8f0;
    flex: 1.2;
    margin: 0 100px 20px 0;
}

.hero-content h1{
    font-size: 52px;
    font-weight: bold;

}

.hero-content p{
    margin: 20px 0 0 0;
}

.primary-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 999px;
    font-size: 18px;
    font-weight: bold;
    margin: 40px 0 0 0;
    transition: background-color 0.3s ease;
}
.hero-card{
    flex: 1;
    background-color: #1e293b;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0 100px 0 0;
}

.hero-card p{
    color: #38bdf8;
    font-weight: bold;
    font-size: 20px;
}

.hero-card h2{
    font-size: 55px;
    font-weight: bold;
    color: #e2e8f0;
    margin: 20px 0 0 0;
}

.hero-card ul{
    list-style: disc;
    padding: 0;
    margin: 20px 0 0 30px;
    color: #e2e8f0;
}

.hero-card ul li{
    font-size: 15px;
    font-weight: normal;
    color: #c8d0da;
    margin: 10px 0 0 0;
}

.features-section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    max-height: 500px;
    gap: 20px;
    margin: 20px 100px 0 100px;
}

.feature-card{
    flex: 1;
    background-color: #1e293b;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0px 0 0;
    text-align: left;
    color: #e2e8f0;
}

.feature-card h2{
    color: #38bdf8;
    font-weight: bold;
    font-size: 20px;
}

.feature-card p{
    margin: 20px 0 0 0;
    color: #c8d0da;
    font-size: 15px;
    
}

.pricing-section{
   color: #e2e8f0;
   max-resolution: 1200px;
   margin: 100px 100px 0 110px;
}

.pricing-section h2{
    font-size: 30px;
    font-weight: bold;
    color: #e2e8f0;
    margin: 2px 0 0 0;
}

.pricing-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    gap: 20px;
    margin: 40px 0 0 0;
}

.pricing-card{
    flex: 1;
    background-color: #1e293b;
    padding: 20px;
    border-radius: 30px;
}

.pricing-card h3{
    color: #eaf0f3;
    font-weight: bold;
    font-size: 23px;
    margin: 10px 0 10px 0;
}

.pricing-card p{
    margin: 10px 0 10px 0;
    color: #c8d0da;
    font-size: 15px;
}

.pricing-card .price{
    color: #e3e5e7;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0 10px 0;
}

.pricing-section .eyebrow{
    color: #dbe0e1;
    font-weight: bold;
    font-size: 20px;
}